# dependencies
node_modules/
code/node_modules/

# environment variables
.env
.env.*
config/.env.development
config/.env.production

# uploads and temp files
uploads/
temp/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# build
dist/
build/

# coverage
coverage/