# /config/.env.development
# /config/.env.production
node_modules




# dependencies
node_modules/
code/node_modules/

# environment variables
# .env
# .env.*
# config/.env.development
# config/.env.production

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime files
temp/
uploads/

# # OS files
# .DS_Store
# Thumbs.db

# # IDE files
# .vscode/
# .idea/

# # build
# dist/
# build/

# # optional npm cache
# .npm

# # coverage
# coverage/